<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <div class="panel panel-default login-panel">
      <div class="panel-heading">Change your password</div>
      <div class="panel-body">
        <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>
          
          <%= f.input :reset_password_token, :as => :hidden %>
          <%= f.full_error :reset_password_token %>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><%= fa_icon "key" %></span>
              <%= f.password_field :password,
                  autofocus: true,
                  class: "form-control",
                  placeholder: "New Password" %>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><%= fa_icon "key" %></span>
              <%= f.password_field :password_confirmation,
                  class: "form-control",
                  placeholder: "Confirm your new password" %>
            </div>
          </div>


          <div class="form-group">
            <%= button_tag(type: :submit, class: "btn btn-primary btn-block") do %>
              Change my password
            <% end %>
          </div>

          <%= render "users/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


