<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <div class="panel panel-default login-panel">
      <div class="panel-heading">Forgot your password?</div>
      <div class="panel-body">
        <%= simple_form_for(resource, :as => resource_name, :url => admin_password_path, :html => { :method => :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><%= fa_icon "envelope" %></span>
              <%= f.text_field :email, autofocus: true, class: "form-control",
                  placeholder: "email" %>
            </div>
          </div>

          <div class="form-group">
            <%= button_tag(type: :submit, class: "btn btn-primary btn-block") do %>
              Send me reset password instructions <%= fa_icon "envelope-alt" %>
            <% end %>
          </div>

          <%= render "admins/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
